:root {
    --primary : linear-gradient(to bottom right, black, black);
    --secondary : #FB2576;
    --text : #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body {
    min-height: 100vh;
    background-image: var(--primary);
    font-family: 'Montserrat',sans-serif;
    color: var(--text);

    display: flex;
    align-items: center;
}
.download-button{
    margin: 2% 3% 5% 0;
    -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: transparent;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-color: #ffffff;
    
  }
  .download-button:hover {
    background: white;
    text-decoration: none;
    color: black;
    border: white;
  }


.container {
    width: 100vw;

    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
    
    padding: .5rem 1rem;
    text-transform: capitalize;
}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.main-video, .video-playlist {
    width: 100%;
    height: 30rem;
}

.main-video .title {
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-size: 30px;
}

.video-playlist .title {
    padding-left: 1rem;
    font-family: 'Montserrat';
    font-size: large;
}

.video-playlist > p {
    padding: 1rem;
    color: var(--secondary);
}

.video-playlist .videos{
    height: 70%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #fff;
}

.video-playlist .videos .video {
    position: relative;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.video-playlist .videos .video:hover {
    background-color: #0003;
}

.video-playlist .videos .video.active {
    background-color: #0003;
    color: var(--secondary);
}

.main-video video {
    width: 100%;
    border-radius: .5rem;
}

.video img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    
    width: 1.5rem;
    height: 1.5rem;
    
    filter: invert(100%);
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
   margin-left: 2.5rem;
}

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem 'Montserrat';
    padding: 0 .5rem;
    font-size: larger;
}
