.container h2{
    color: white;
    text-align: center;
    padding-top: 50px;
   
}
.container{
  text-align: center;
  background-color: #000000;
  color: white;

}

#faq{
    background-color: black;
}
.accordions {
    width: 80%;
    margin: 100px auto;
    }
    
    .accordions h3 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    }
    
    .accordion-item {
    margin-bottom: 20px;
    border: 1px solid #FB2576;
    border-radius: 5px;
    color: #ffffff;
    border-width: 2px;
    }
    
    .accordion-item .accordion-title {
    cursor: pointer;
    padding: 20px;
    transition: transform 0.4s ease-in-out;
    }
    
    .accordion-item .accordion-title.active-title {
    background-color: #FB2576;
    color: #ffffff;
    }
    
    .accordion-item .accordion-title h3 {
    font-weight: 700;
    margin: 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    }
    
    .accordion-item .accordion-title i.fa-chevron-down {
    transform: rotate(0);
    transition: 0.4s;
    }
    
    .accordion-item .accordion-title i.fa-chevron-down.chevron-top {
    transform: rotate(-180deg);
    color: #FB2576;
    }
    
    .accordion-item .accordion-content {
    display: none;
    line-height: 1.7;
    padding: 20px;
    background-color: transparent;
    border-radius: 0 0 5px 5px;
    color: white;
    }
    
    .accordion-item .accordion-content.active {
    display: block;
    }
    
    .accordion-item .accordion-content p {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    }
    
    .details {
    background: #dce1f2;
    }
    
    .details .detailed_info {
    margin: 50px auto;
    }
    
    .details img {
    margin: 0 auto;
    display: block;
    /* margin-top: 120px; */
    }
    
    .details h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    }
    
    .details p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    }
    
    .details ul li {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 1.7em;
    }