@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}


.outerdiv
{
	width: 100%;
    min-height: 85vh;
    background-image: url("https://img.freepik.com/free-photo/workplace-items-assortment-view_23-2148975806.jpg?w=2000");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 1350px;
}
.outerdiv h2{
    margin-left: 40px;
    margin-right: -20px;
    font-weight: bold;
    margin-bottom: 440px;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: transparent;
    backdrop-filter: blur(11px);
    grid-column: 1/3;
    grid-row: 1/2;

}
.div2
{
	background: transparent;
    backdrop-filter: blur(11px);
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: #FB2576;
    backdrop-filter: blur(11px);
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: transparent;
    backdrop-filter: blur(11px);
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: transparent;
    backdrop-filter: blur(11px);
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 70%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: black;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: black;
}
.detbox .designation
{
	color: black;
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: black;
}
.review h4
{
	font-size: 1.4rem;
	color: black;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:black;
}
.review p
{
	font-size: 0.95rem;
    color: black;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}